.category {
  &--item {
    box-sizing: border-box;
    display: inline-block;
    max-width: 980px;
    position: relative;
    text-align: left;
    width: 100%;
    vertical-align: top;

    .card--info {
      padding: 25px 35px 20px 29px;
    }

    &--footer {
      box-sizing: border-box;
      display: inline-block;
      padding: 40px 0 10px;
      text-align: right;
      position: relative;
      width: 100%;
    }

    h2 {
      margin: 40px 0 30px;
      vertical-align: top;
    }
  }
}