@import '../../styles/settings/settings';

.header {
  background-color: $white-900;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 0;
  height: 60px;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  vertical-align: top;
  z-index: 999;
}