.house {
  &--gallery {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &--content {
      box-sizing: border-box;
      display: inline-block;
      height: 100%;
      position: relative;
      width: 100%;
      vertical-align: top;
    }

    .number--text {
      right: 20px;
      position: absolute;
      top: 80px;
      z-index: 2;
    }
  }
}