.house {
  &--gallery {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &--content {
      box-sizing: border-box;
      display: inline-block;
      height: 100%;
      position: relative;
      width: 100%;
      vertical-align: top;

      figure {
        box-sizing: border-box;
        display: none;
        height: 100%;
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 100%;
        vertical-align: top;

        img {
          object-fit: cover;
          height: 100%;
          position: relative;
          width: 100%;
        }

        &:first-child {
          display: inline-block;
        }
      }
    }
  }
}