@import '../../../styles/settings/colors';
@import '../../../styles/components/animations';

.filters {
  &--body {
    background-color: transparent;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    height: auto;
    position: relative;
    text-align: center;
    width: 100%;
    vertical-align: top;
    z-index: 1;

    &--item,
    &--list {
      box-sizing: border-box;
      display: inline-block;
      position: relative;
      vertical-align: top;
    }

    &--item {
      display: none;
      float: none;
      max-width: 1000px;
      padding: 40px 0 30px;
      pointer-events: auto;
      text-align: left;
      width: 100%;

      &--slider,
      &--select,
      &--tags {
        box-sizing: border-box;
        display: inline-block;
        float: left;
        padding: 0 5px;
        position: relative;
        width: calc(100% / 5);
        vertical-align: top;
      }

      &--slider {
        width: calc(100% / 3);
      }

      &:before,
      &:after {
        box-sizing: border-box;
        content: '';
        display: inline-block;
        left: 50%;
        position: absolute;
        transform: translate(-50%, 0);
        top: 0;
        width: 100vw;
      }

      &:before {
        background-color: rgba($white-600, 0.98);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        height: 100%;
      }

      &:after {
        background-color: $brown-900;
        height: 1px;
      }

      &[data-active="true"] {
        animation: slide-in-top 300ms 300ms $base-ease both;
        display: inline-block;
        pointer-events: auto;
      }
    }

    &--list {
      background-color: transparent;
      left: 0;
      margin: 0;
      padding: 0;
      position: fixed;
      top: 132px;
      width: 100%;
      z-index: 3;

      &:empty {
        display: none;
      }
    }
  }
}