@import '../../../styles/settings/colors';

.filters {
  &--body {
    background-color: transparent;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    text-align: center;
    width: 100%;
    vertical-align: top;
    z-index: 1;

    &--item,
    &--list {
      box-sizing: border-box;
      display: inline-block;
      position: relative;
      vertical-align: top;
    }

    &--item {
      display: none;
      float: none;
      max-width: 1000px;
      padding: 40px 0;
      pointer-events: auto;
      text-align: left;
      width: 100%;

      &--slider,
      &--select,
      &--tags {
        box-sizing: border-box;
        display: inline-block;
        float: left;
        padding: 0 5px;
        position: relative;
        width: calc(100% / 5);
        vertical-align: top;
      }

      &[data-active="true"] {
        display: inline-block;
        pointer-events: auto;
      }
    }

    &--list {
      background-color: rgba($white-600, 0.98);
      left: 0;
      margin: 0;
      padding: 0;
      position: fixed;
      top: 132px;
      width: 100%;
      z-index: 3;

      &:empty {
        display: none;
      }
    }
  }
}