.gallery {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  overflow: hidden;
  overflow-y: auto;
  pointer-events: auto;
  position: relative;
  width: 100%;
  vertical-align: top;
}