.webdoor {
  &--content {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    user-select: none;
  }

  .number--text {
    right: 20px;
    position: absolute;
    top: 80px;
    z-index: 5;
  }
}
