@import '../../../styles/settings/colors';
@import '../../../styles/settings/fonts';

@import '../../../styles/components/animations';

@import '../../../styles/tools/mixins';

.select {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;

  &--container {
    float: left;
    position: relative;
    width: 100%;
    vertical-align: top;
  }

  &--component {
    background-color: $white-600;
    box-sizing: border-box;
    border: 1px solid $brown-900;
    border-top: none;
    display: none;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    vertical-align: top;

    &--item {
      @include font($font-default, 11px, 400, $brown-900);
      border: none;
      border-bottom: 1px solid $brown-900;
      float: left;
      line-height: 1em;
      overflow: hidden;
      letter-spacing: 0.01em;
      text-overflow: ellipsis;
      padding: 15px 20px;
      position: relative;
      pointer-events: auto;
      text-transform: uppercase;
      transition: all 400ms $base-ease;
      text-align: left;
      width: 100%;
      white-space: nowrap;
      user-select: none;

      &[data-active="true"],
      &:hover {
        background-color: $brown-900;
        color: $white-600;
        width: 100%;
      }

      &[data-disabled] {
        background-color: $white-600;
        color: $brown-900;
        opacity: 0.7;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &--title {
    @include font($font-default, 11px, 400, $brown-900);
    background: $white-600;
    border: 1px solid $brown-900;
    cursor: pointer;
    letter-spacing: 0.01em;
    line-height: 1em;
    outline: none;
    padding: 11px 20px 10px;
    text-align: left;
    text-overflow: ellipsis;
    text-transform: uppercase;
    width: 100%;
    white-space: nowrap;

    span {
      color: $brown-900;
      right: 10px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  &[data-active="true"] {
    .select {
      &--component {
        display: inline-block;
      }
    }
  }
}