.category {
  &--header {
    box-sizing: border-box;
    display: inline-block;
    left: 20px;
    padding: 0;
    position: absolute;
    pointer-events: auto;
    top: 120px;
    z-index: 2;
  }
}