.category {
  &--header {
    box-sizing: border-box;
    display: inline-block;
    left: 20px;
    padding: 0;
    position: absolute;
    pointer-events: auto;
    top: 120px;
    z-index: 2;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .category {
    &--header {
      left: 10px;
      top: 70px;
    }
  }
}