.category {
  &--item {
    &--list {
      box-sizing: border-box;
      display: inline-block;
      margin: 0 0 60px;
      padding: 0;
      list-style: none;
      position: relative;
      width: 100%;
      vertical-align: top;

      &--item {
        box-sizing: border-box;
        display: inline-block;
        float: left;
        position: relative;
        width: 50%;
        vertical-align: top;
      }
    }
  }
}