.category {
  &--item {
    &--list {
      box-sizing: border-box;
      display: inline-block;
      margin: 0 -10px;
      padding: 0;
      list-style: none;
      position: relative;
      width: calc(100% + 20px);
      vertical-align: top;

      &--item {
        box-sizing: border-box;
        display: inline-block;
        float: left;
        padding: 1px;
        position: relative;
        width: calc(100% / 3);
        vertical-align: top;
      }
    }
  }
}