.category {
  &--item {
    &--list {
      box-sizing: border-box;
      display: inline-block;
      margin: 0 -10px;
      padding: 0;
      list-style: none;
      position: relative;
      width: calc(100% + 20px);
      vertical-align: top;

      &--item {
        box-sizing: border-box;
        display: inline-block;
        float: left;
        padding: 1px;
        position: relative;
        width: calc(100% / 3);
        vertical-align: top;
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .category {
    &--item {
      &--list {
        margin: 0;
        width: 100%;

        &--item {
          width: calc(100% / 2);
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .category {
    &--item {
      &--list {
        &--item {
          width: 100%;
        }
      }
    }
  }
}