@import '../../../styles/settings/colors';

@import '../../../styles/components/animations';

.category {
  &--list {
    box-sizing: border-box;
    display: inline-block;
    list-style: none;
    margin: 0;
    height: auto;
    padding: 0;
    position: relative;
    top: 0;
    transition: all 400ms $base-ease;
    width: 100%;
    vertical-align: top;

    &--item {
      border: none;
      box-sizing: border-box;
      display: inline-block;
      margin: 0;
      padding: 0;
      position: relative;
      text-align: center;
      width: 100%;
      vertical-align: top;

      &[data-active="false"] {
        .category {
          &--item {
            &--list {
              &--item {
                display: none;
    
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                  display: inline-block;
                }
              }
            }
          }
        }
      }

      &[data-active="true"] {
        .category {
          &--item {
            padding-bottom: 60px;
            
            &--footer {
              display: none;
            }
          }
        }
      }

      &:first-child {
        margin: 70px 0 0;
        transition: all 400ms $base-ease;
      }
    }

    &[data-active="true"] {
      padding: 60px 0 0;

      .category {
        &--list {
          &--item {
            display: none;

            &[data-active="true"] {
              display: inline-block;
            }
          }
        }
      }   
    }
  }
}