@import '../../../styles/settings/colors';

@import '../../../styles/components/animations';

.category {
  &--list {
    box-sizing: border-box;
    display: inline-block;
    list-style: none;
    margin: 0;
    height: calc(100vh - 40px);
    overflow: hidden;
    overflow-y: auto;
    padding: 20px 0 0;
    position: relative;
    top: 40px;
    transition: all 400ms $base-ease;
    width: 100%;
    vertical-align: top;

    &--item {
      border: none;
      border-bottom: 1px solid rgba($brown-900, 0.4);
      box-sizing: border-box;
      display: inline-block;
      margin: 0;
      padding: 0;
      position: relative;
      text-align: center;
      width: 100%;
      vertical-align: top;

      &[data-active="false"] {
        .category {
          &--item {
            &--list {
              &--item {
                display: none;
    
                &:nth-child(1),
                &:nth-child(2) {
                  display: inline-block;
                }
              }
            }
          }
        }
      }

      &[data-active="true"] {
        .category {
          &--item {
            padding-bottom: 60px;
            
            &--footer {
              display: none;
            }
          }
        }
      }
    }

    &[data-active="true"] {
      padding: 60px 0 0;

      .category {
        &--list {
          &--item {
            display: none;

            &[data-active="true"] {
              display: inline-block;
            }
          }
        }
      }   
    }
  }
}