.house {
  &--gallery {
    &--control {
      &--footer {
        box-sizing: border-box;
        bottom: 20px;
        display: inline-block;
        right: 20px;
        mix-blend-mode: difference;
        position: absolute;

        .btn-min {
          margin: 0 2px;
        }
      }
    }
  }
}