@import '../../../../styles/settings/colors';

.webdoor {
  &--info {
    &--tags {
      box-sizing: border-box;
      display: inline-block;
      position: relative;
      width: 100%;
      vertical-align: top;

      p {
        margin: 0 10px 0 0;

        &:before {
          content: '[]';
        }
      }
    }
  }
}