.house {
  &--gallery {
    &--next {
      &--prev {
        box-sizing: border-box;
        bottom: 0;
        right: 0;
        height: 220px;
        position: absolute;
        width: 160px;
      }
    }
  }
}