@import '../../../styles/settings/colors';

.webdoor {
  &--info {
    background-color: transparent;
    align-content: center;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    vertical-align: top;
    z-index: 3;

    &--content {
      background-color: $white-600;
      bottom: 0;
      height: 190px;
      max-width: 500px;
      padding: 25px;
      mix-blend-mode: normal;
      right: 0;
      pointer-events: auto;
      position: absolute;
      width: 100%;
    }

    .slider {
      height: auto;
      width: auto;

      &--item {
        max-width: 700px;
        text-align: center;
        width: 100%;

        .btn {
          pointer-events: auto;
        }

        .title {
          display: block;
          margin: 0 auto 30px;
          line-height: 1.2em;
        }
      }
    }
  }
}

/* --- QUERIES --- */
