@import '../../../styles/settings/colors';

@import '../../../styles/components/animations';

.filters {
  &--header {
    box-sizing: border-box;
    background-color: rgba($white-600, 0.98);
    display: inline-block;
    float: left;
    position: relative;
    text-align: center;
    width: 100%;
    vertical-align: top;

    &--item,
    &--list {
      box-sizing: border-box;
      display: inline-block;
      position: relative;
      vertical-align: top;
    }

    &--item {
      margin: 0;
      pointer-events: auto;

      .btn-tab {
        cursor: pointer;

        &:after,
        &:before {
          box-sizing: border-box;
          content: '';
          display: inline-block;
          position: absolute;
        }

        &:after {
          background-color: $brown-900;
          bottom: 0;
          height: 0;
          left: 0;
          transition: all 200ms $base-ease;
          width: 100%;
        }
      }

      &[data-active="true"] {
        .btn-tab {
          &:after {
            height: 5px;
          }
        }
      }
    }
    
    &--list {
      margin: 0;
      max-width: 1000px;
      padding: 20px 0 10px;
      text-align: left;
      width: 100%;
    }
  }
}