@import '../../../styles/settings/colors';

@import '../../../styles/components/animations';

.filters {
  &--header {
    box-sizing: border-box;
    background-color: rgba($white-600, 0.98);
    display: inline-block;
    left: 0;
    position: fixed;
    top: 60px;
    text-align: center;
    width: 100%;
    vertical-align: top;
    z-index: 2;

    &--item,
    &--list {
      box-sizing: border-box;
      display: inline-block;
      position: relative;
      vertical-align: top;
    }

    &--item {
      margin: 0;
      pointer-events: auto;

      .btn-tab {
        cursor: pointer;
      }

      &[data-active="true"] {
        .btn-tab {
          &:after {
            height: 5px;
          }
        }
      }
    }
    
    &--list {
      margin: 0;
      max-width: 1000px;
      padding: 20px 0 0;
      text-align: left;
      width: 100%;
    }
  }
}