@import '../../../styles/settings/colors';

.list {
  &--tags {
    box-sizing: border-box;
    display: inline-block;
    margin: 0 0 20px;
    padding: 0;
    position: relative;
    width: 100%;
    vertical-align: top;

    p {
      float: left;
      margin: 0 10px 0 20px;
      position: relative;

      &:before {
        box-sizing: border-box;
        background-color: $brown-900;
        content: '';
        height: 4px;
        left: -15px;
        margin: 0 10px 0 0;
        position: absolute;
        top: calc(50% - 1px);
        transform: translate(0, -50%);
        width: 4px;
        vertical-align: top;
        z-index: 3;
      }
    }
  }
}