.category {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  height: auto;
  padding: 0;
  position: relative;
  width: 100vw;
  z-index: -1;
  vertical-align: top;

  &--header {
    display: none;
  }

  &[data-active="true"] {
    .category {
      &--header {
        display: inline-block;
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .category {
    padding: 0
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .category {
    padding: 0;
  }
}