.category {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  height: 100vh;
  padding: 0;
  position: relative;
  width: 100vw;
  vertical-align: top;

  &--header {
    display: none;
  }

  &[data-active="true"] {
    .category {
      &--header {
        display: inline-block;
      }
    }
  }
}