@import '../../../styles/settings/colors';

.filters {
  &--result {
    background-color: $white-900;
    box-sizing: border-box;
    display: none;
    height: auto;
    position: relative;
    padding: 40px 0;
    text-align: center;
    width: 100vw;

    &--item,
    &--list {
      box-sizing: border-box;
      display: inline-block;
      position: relative;
      vertical-align: top;
    }

    &--item {
      float: left;
      padding: 2px;
      pointer-events: auto;
      text-align: left;
      width: calc(100% / 3);
    }

    &--list {
      background-color: $white-900;
      max-width: 1000px;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    &[data-active="true"] {
      display: inline-block;
    }
  }
}