@import '../../../styles/settings/colors';

@import '../../../styles/settings/grid';

.filters {
  &--result {
    background-color: $white-900;
    box-sizing: border-box;
    height: auto;
    position: relative;
    padding: 0;
    text-align: center;
    width: 100vw;
    z-index: 1;

    &--item,
    &--list,
    &--title {
      box-sizing: border-box;
      display: inline-block;
      position: relative;
      vertical-align: top;
    }

    &--item {
      float: left;
      padding: 2px;
      pointer-events: auto;
      text-align: left;
      width: calc(100% / 3);
    }

    &--list {
      background-color: $white-900;
      max-width: $page-width;
      margin: 0;
      padding: 20px 0;
      width: 100%;

      &:empty {
        display: none;
      }
    }

    &--title {
      display: none;
      max-width: $page-width;
      margin: 200px auto 0;
      padding: 5px 5px 0;
      text-align: left;
      width: 100%;
    }

    &[data-active="true"] {
      .filters {
        &--result {
          &--title {
            display: inline-block;
          }
        }
      }
      display: inline-block;
    }
  }
}