@import '../../styles/settings/colors';

.card {
  box-sizing: border-box;
  background-color: $white-600;
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  mix-blend-mode: normal;
  pointer-events: auto;
  width: 100%;
  vertical-align: top;

  &--info {
    box-sizing: border-box;
    background-color: $white-600;
    display: inline-block;
    float: left;
    padding: 30px 40px 20px 30px;
    width: 100%;
    user-select: none;
    vertical-align: top;

    h4 {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap;
    }

    .btn-more {
      float: right;
      margin: 20px 0 0;
      right: -20px;
    }
  }
}