/* --- GRID --- */
@import './colors';
@import './../tools/mixins';

html,
body,
body * {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

html,
body {
  @include box-display;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  vertical-align: top;
}

html {
  overflow: hidden;
  overflow-y: auto;
}

body {
  background-color: $white-900;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
}

#root {
  @include box-display;
  float: left;
  min-height: 100vh;
  position: relative;
  width: 100%;
  vertical-align: top;
  z-index: 99;
}
