@import '../../../styles/settings/colors';
@import '../../../styles/settings/fonts';

@import '../../../styles/tools/mixins';

.webdoor {
  &--slogan {
    max-width: 600px;
    left: 50%;
    position: absolute;
    top: 65px;
    text-align: center;
    transform: translate(-50%, 0);
    width: 100%;
    z-index: 999;

    .image {
      margin: 40px 0 0;
      filter: invert(1);
      max-width: 250px;
      opacity: 1;
    }

    p {
      @include rem('font-size', 12px);
      color: $white-900;
      margin: 40px 0 0;
      letter-spacing: 0.1em;
      line-height: 1.9em;
      text-transform: uppercase;
      width: 100%;
    }
  }
}

/* --- QUERIES --- */
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .webdoor {
    &--slogan {
      .image {
        max-width: 120px;
      }

      p {
        display: none;
      };
    }
  }
}