@import '../../../styles/settings/colors';
@import '../../../styles/settings/fonts';

@import '../../../styles/components/animations';
@import '../../../styles/tools/mixins';

.header {
  &--nav {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 0 0 50px;
    vertical-align: top;

    &--item {
      @include font($font-default, 12px, 400, $brown-900);
      box-sizing: border-box;
      display: inline-block;
      line-height: 1em;
      letter-spacing: 0.01em;
      margin: 0;
      padding: 25px 20px;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      vertical-align: top;

      &:before {
        background-color: $brown-900;
        bottom: 0;
        box-sizing: border-box;
        content: '';
        height: 0;
        left: 0;
        position: absolute;
        transition: all 200ms $base-ease;
        transition-delay: 0;
        width: 100%;
      }

      &.logo {
        left: 0;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);

        .icon {
          @include rem('font-size', 24px);
        }
      }

      &.active {
        &:before {
          height: 5px;
          transition-delay: 200ms;
        }
      }
    }
  }
}