@import '../../../styles/settings/colors';
@import '../../../styles/settings/fonts';

@import '../../../styles/components/forms/buttons';
@import '../../../styles/components/animations';

@import '../../../styles/tools/mixins';

.header {
  &-nav {
    padding: 0 0 0 50px;
    vertical-align: top;
    
    &--mobile {
      @extend %btn-clear;
      display: none;
      margin: 0;
      outline: none;
      right: 10px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      user-select: none;

      .material-icons {
        color: $brown-900;
        display: none;

        &:first-child {
          display: inline-block;
        }
      }

      &[data-active="true"] {
        .material-icons {
          display: none;

          &:last-child {
            display: inline-block;
          }
        }
      }
    }
  }
}

/* --- QUERIES --- */
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .header {
    &-nav {
      padding: 0;
      width: 100%;

      &--mobile {
        display: inline-block;
      }
      
      &[data-open="true"] {
        .header-nav {
          &--list {
            display: inline-flex;
            left: 0;
          }
        }
      }
    }
  }
}