@import '../../../styles/settings/colors';
@import '../../../styles/settings/fonts';

@import '../../../styles/components/animations';
@import '../../../styles/tools/mixins';

.house {
  &--info {
    background-color: rgba($white-600, 0.9);
    left: 0;
    height: 100vh;
    padding: 90px 40px 0;
    position: absolute;
    transition: left 300ms $base-ease;
    top: 0;
    width: 550px;

    &--title {
      .list--address {
        margin: 0;
      }

      .list--attributes {
        padding: 10px 0;
      }

      > p {
        &:last-of-type {
          @include rem('font-size', 12px);
          line-height: 1.6em;
          margin: 20px 0;
        }
      }
    }

    .btn-clear {
      background-color: rgba($white-600, 0.9);
      left: 100%;
      padding: 10px 15px;
      position: absolute;
      top: 60px;
    }

    h2 {
      margin: 40px 0 0;
    }

    &[data-active="true"] {
      left: -545px;
    }
  }
}