@import '../../../../styles/components/animations';

.house {
  &--gallery {
    &--control {
      box-sizing: border-box;
      display: inline-block;
      right: 0;
      mix-blend-mode: difference;
      position: absolute;
      top: 50%;
      transition: width 400ms $base-ease;
      transform: translate(0, -50%);
      width: calc(100vw - 550px);
      
      &[data-active="true"] {
        width: 100%;
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .house {
    &--gallery {
      &--control {
        width: 100%;
      }
    }
  }
}