@import '../../../../styles/settings/colors';
@import '../../../../styles/settings/fonts';

@import '../../../../styles/tools/mixins';

.house {
  &--info {
    &--header {
      box-sizing: border-box;
      display: inline-block;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      vertical-align: top;

      .btn-map {
        right: 0;
        position: absolute;
        top: 60px;

        span {
          @include rem('font-size', 14px);
        }
      }
    }
  }
}