@import '../../../styles/settings/colors';
@import '../../../styles/components/animations';

.webdoor {
  &--footer {
    bottom: 0;
    box-sizing: border-box;
    display: inline-block;
    height: 150px;
    left: 0;
    pointer-events: auto;
    position: absolute;
    width: calc(250px * 2);
    vertical-align: top;
    user-select: none;
  }
}

/* --- QUERIES --- */
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .webdoor {
    &--footer {
      display: none;
    }
  }
}