@import '../../../styles/settings/colors';

.webdoor {
  &--footer {
    bottom: 0;
    box-sizing: border-box;
    display: inline-block;
    height: 150px;
    left: 0;
    pointer-events: auto;
    position: absolute;
    width: calc(250px * 2);
    vertical-align: top;

    &--item,
    &--list {
      box-sizing: border-box;
      display: inline-block;
      margin: 0;
      padding: 0;
      position: relative;
      vertical-align: top;
    }

    &--item {
      display: none;
      left: 0;
      height: 100%;
      position: absolute;
      width: 50%;

      .images {
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        width: 100%;
        vertical-align: top;

        figure {
          box-sizing: border-box;
          display: none;
          height: 100%;
          margin: 0;
          overflow: hidden;
          position: relative;
          width: 100%;

          img {
            box-sizing: border-box;
            display: inline-block;
            height: 100%;
            position: relative;
            object-fit: contain;
            width: 100%;
          }

          &:first-child {
            display: inline-block;
          }
        }
      }

      &[data-current="true"] {
        display: inline-block;
        left: 50%;
      }

      &[data-last="true"] {
        display: inline-block;
      }

      &:after {
        background-color: rgba($brown-900, 0.3);
        content: '';
        display: inline-block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    &--list {
      float: left;
      height: 150px;
      list-style: none;
      width: 100%;
    }
  }
}
