/* --- BUTTONS --- */
@import "../../settings/settings";
@import "../../tools/mixins";

@import '../../components/animations';

%btn-clear {
  @include box-display;
  border: none;
  background: transparent;
  outline: none;
  position: relative;
  transition: all 300ms $base-ease;
}

.btn-clear {
  @extend %btn-clear;
  padding: 0;

  span {
    box-sizing: border-box;
    color: $brown-900;
    display: inline-block;
    
    &:last-child {
      display: none;
    }
  }

  &[data-active="true"] {
    span {
      display: none;

      &:last-child {
        display: inline-block;
      }
    }
  }
}

.btn-arrow {
  @extend %btn-clear;
  padding: 0;
  position: absolute;
  pointer-events: auto;
  top: 50%;
  transform: translate(0, -50%);

  .icon {
    box-sizing: border-box;
    border: 2px solid $brown-900;
    margin: 0;
    height: 40px;
    padding: 0;
    pointer-events: auto;
    transform: rotate(45deg);
    transform-origin: center;
    width: 40px;
  }

  &:disabled {
    opacity: 0.7;
  }

  &[data-prev] {
    left: 20px;

    .icon {
      border-right: none;
      border-top: none;
    }
  }

  &[data-next] {
    right: 20px;

    .icon {
      border-left: none;
      border-bottom: none;
    }
  }
}

.btn-map {
  @extend %btn-clear;
  @include font($font-default, 12px, 300, $brown-900);
  line-height: 1em;
  letter-spacing: 0.01em;
  padding: 15px 20px;
  position: relative;

  .material-icons {
    left: -10px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.btn-min {
  @extend %btn-clear;
  background-color: transparent;
  border: 2px solid $brown-900;
  height: 7px;
  float: left;
  padding: 0;
  position: relative;
  width: 7px;

  &:after {
    background-color: $brown-900;
    box-sizing: border-box;
    content: '';
    display: inline-block;
    height: 0;
    left: -2px;
    position: absolute;
    transition: all 400ms $base-ease;
    top: 100%;
    width: calc(100% + 4px);
  }

  &[data-active="true"] {
    &:after {
      height: calc(100% + 4px);
      top: -2px;
    }
  }
}

.btn-more {
  @extend %btn-clear;
  padding: 0 25px 0 0;

  .material-icons {
    @include rem('font-size', 20px);
    color: $brown-900;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .text {
    @include font($font-default, 12px, 400, $brown-900);
    line-height: 1em;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    vertical-align: baseline;
  }
}
