@import '../../../styles/settings/colors';
@import '../../../styles/components/forms/buttons';

.webdoor {
  &--controls {
    background-color: transparent;
    float: left;
    pointer-events: none;
    padding: 30px;
    left: 0;
    mix-blend-mode: difference;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 10;
    vertical-align: top;

    &--item,
    &--list {
      box-sizing: border-box;
      display: inline-block;
      padding: 0;
      pointer-events: auto;
      vertical-align: top;
    }

    &--item {
      float: left;
      margin: 0 5px;
      position: relative;
    }

    &--list {
      margin: 0;
      mix-blend-mode: difference;
      left: 50%;
      list-style: none;
      position: absolute;
      top: calc(50vh + 10px);
      transform: translate(-50%, -50%);
    }
  }
}

/* --- QUERIES --- */
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .webdoor {
    &--controls {
      height: 100%;
      
      &--list {
        top: calc(100% - 190px);
        transform: translate(-50%, 0);
      }
    }
  }
}
